  </div>

  <footer>
    <p>
      Generated with {{ generator }} &mdash; <a href="{{ url }}">{{ url }}</a>
      <a href="https://github.com/meghprkh/research-blog" style="float: right;">
        <img style="height: 1em;" src="https://unpkg.com/simple-icons@latest/icons/github.svg" />
      </a>
    </p>
  </footer>

  <script src="{{ url }}js/bundle.js"></script>
  {{#if watch}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</body>
</html>
